nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

nav div a {
  background-color: #1b9ce3;
  padding: 15px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
}

.link {
  padding: 10px;
}

.head {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-items {
  display: flex;
  background-color: black;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}

.nav-items a {
  color: white;
}

.head-items {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: url("./images/bg-1.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}

.hero div a {
  background-color: #1b9ce3;
  color: white;
  padding: 15px;
  margin-left: 15%;
  border-radius: 15px;
  margin-top: auto;
}

.hero div a:hover {
  background-color: transparent;
  color: #1b9ce3;
  border: 1px solid #1b9ce3;
}

.hero-1 {
  height: 80vh;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.hero-1 h4 {
  color: white;
  font-size: 20px;
  margin-left: 15%;
}

.hero-1 h2 {
  color: white;
  font-size: 50px;
  width: 30%;
  margin-left: 15%;
}

.hero-2 {
  z-index: 50;
  display: flex;
  width: 60%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 200px;
  gap: 30px;
}

.hero-2div {
  border-radius: 10px;
  clip-path: polygon(80% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  background-color: #D1EBF9;
  height: 280px;
  width: 297px;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  box-shadow: #1b9ce3;
  align-items: center;
  justify-content: center;
}

.hero-2div:hover {
  background-color: #1b9ce3;
  color: white;

}

.hero-21{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin-top: 172px;
}

.hero-22 {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.hero-23 {
  width: 50%;
  border: 2px solid #D1EBF9;
  height: 72vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.hero-23 img {
  height: 300px;
  width: 397px;
}

.hero-23 a {
  padding: 25px;
  background-color: #1B9CE3;
  border-radius: 30px;
  margin-top: 40px;
  color: white;
  margin-right: 60%;
}

.hero-23 p {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
}

footer h2 {
  background-color: #1B9CE3;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h2:hover {
  opacity: 0.9;
  color: black;
}

footer a {
  color: white;
}

.ft {
  background-color: black;
  display: flex;
  align-items: center;
  height: 60vh;
  width: 80vw;
  margin-left: 12%;
}

footer h3 {
  color: white;
}

footer p {
  color: white;
}

.ft-1 {
  height: 40%;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  justify-content: center;
}
.ft-2 {
  height: 40%;
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
}
.ft-3 {
  height: 40%;
  width: 25%;
  display: flex;
  flex-direction: column ;
  align-items: center;
  row-gap: 10px;
  justify-content: center;
}

.ft-3 div{
  display: flex;
  column-gap: 20px;
}

.ft-4 {
  height: 40%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ft-3 i {
  display: flex;
}

#foot {
  display: flex;
  background-color: black;
  justify-content: center;
  padding: 20px;
}

input {
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
}

#h-g {
  display: flex;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-left: 10%;
}

footer{
  background-color: black;
}